@tailwind base;
@tailwind components;
@tailwind utilities;

#crx-app-root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483647;
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    color: rgb(30 41 59);
    pointer-events: none;
    * {
        pointer-events: auto;
    }
}
