::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101f1c, 0.05);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(#101f1c, 0.2);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(#101f1c, 0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, 'PingFang SC', STHeiti, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 12px;
}

.vjs-tree {
    font-family: system-ui, 'PingFang SC', STHeiti, sans-serif !important;
    line-height: 1.2 !important;
    font-size: 12px !important;
    color: var(--el-text-color-regular);
    .vjs-tree-node.is-highlight,
    .vjs-tree-node:hover {
        background: unset !important;
    }
    .vjs-tree-node {
        line-height: 18px;
    }
    .vjs-carets svg {
        vertical-align: middle;
    }
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
}
